body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF6EA;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #728063, #9CAF88);
    padding: 15px 25px;
}

/* NAV LINKS */
.navbar a {
    color: #FFF6EA;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

/* HOVER EFFECT */
.navbar a:hover {
    opacity: 0.8;
}

/* BRAND TEXT */
.brand {
    font-size: 22px;
}